        <form class="col-lg-7" style="height:fit-content;">
            <input class="form-control my-3" type="text" placeholder="Fist name" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Last name" aria-label="default input example">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled">
                <label class="form-check-label" for="flexRadioDisabled">
                  Satcop India Pvt.Ltd
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" >
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                  Bellbuny
                </label>
              </div>
            <input class="form-control my-3" type="text" placeholder="Fist name" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Position" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Company Name" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Salary in INR" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Default input" aria-label="default input example">
        </form>
