.loading-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    z-index: 999;
    border: 2px solid black;
}