<section class="offer_letter_page" style="background-color: whitesmoke;">
  <div class="fluid-container task_bar d-flex d-md-block justify-content-center align-items-center text-center">
    <div class="row">
      <div class="col-lg-2 task_bar d-flex d-md-block justify-content-center align-items-center text-center"
        style="background-color: black; position: fixed;">
        <div class="d-flex d-md-block justify-content-center align-items-center text-center">
          <img class="rounded-circle my-4  " style="width: 80px; margin-left: 15px; " alt="avatar1"
            src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
        </div>

        <div class="">

          <i class="fa-solid fa-user my-3 custom-border ms-2" id="dropdownMenuButton1"
            style="width: 2.5rem; color: white; font-size: large;" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="openModal()">Change Password</a></li>
            <li><a class="dropdown-item" (click)="signOut()"><b>Logout</b> <br>
                <p class="" style="font-size: 12px;"> {{userName}}</p>
              </a></li>
          </ul>


          <i class="fa-solid fa-bell my-3 custom-border ms-1"
            style="width: 2.5rem; color: white; font-size: large; cursor: pointer;" (click)="toggleNotification()"></i>

          <div *ngIf="showNotification" class="toast show notificatoncontainer"
            style="margin-left: 110px; border: 2px solid #aaa; background-color: #fff; position: absolute; top: 5px; min-width: 350px; min-height: 99vh;">
            <div class="toast-header" style="background-color: black;">
              <strong class="me-auto text-white">Notification</strong>
              <small class="text-white">Just now</small>

              <i class="fa-solid fa-xmark text-white ms-3 fs-6" aria-label="Close" (click)="toggleNotification()"></i>
            </div>
            <div class="toast-body">
              <app-notification></app-notification>
            </div>
          </div>


          <button type="button" class="btn text-white my-2 custom-border" routerLink="offerletter"
            style="width: 6.5rem;"><i class="fa-solid fa-file-invoice fa-lg mb-2"
              style="color: white; "></i>Offer_letter</button>
          <button type="button" class="btn text-white my-2 custom-border" routerLink="appointmentletter"
            style="width: 6.5rem;"><i class="fa-solid fa-file-invoice fa-lg mb-2"
              style="color: white; "></i>App_letter</button>
          <button type="button" class="btn text-white my-2" style="width: 6.5rem;">Dark</button>
        </div>




      </div>

    </div>

  </div>
  <div class="custom-container "
    style=" margin-left: 107px; border: 10px solid #C0C0C0; height:100%; overflow-y: auto;">
    <div class="py-2 px-2 ">
      <router-outlet></router-outlet>
    </div>
  </div>

</section>

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hello, world! This is a modal.
      </div>
    </div>
  </div>
</div>