<section class="offer_letter_page " style="background-color: whitesmoke;">
   <div class="fluid-container">
   <div class="row">
    <div class="col-lg-2 task_bar" style="background-color: black;">
     <div>
      <img src="">
     </div>
     
     <div>
      <button type="button" class="btn btn-dark my-5" style="width: 5rem;"><p>offer_letter</p></button>
      <button type="button" class="btn btn-dark my-5 ">Dark</button>
      <button type="button" class="btn btn-dark my-5">Dark</button>
     </div>


    </div>
    <div class="col-lg-6">
        <form class="" style="color: black;">
            <input class="form-control my-3" type="text" placeholder="Fist name" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Last name" aria-label="default input example">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled">
                <label class="form-check-label" for="flexRadioDisabled">
                  Satcop India Pvt.Ltd
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" >
                <label class="form-check-label" for="flexRadioCheckedDisabled">
                  Bellbuny
                </label>
              </div>
            <input class="form-control my-3" type="text" placeholder="Fist name" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Position" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Company Name" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Salary in INR" aria-label="default input example">
            <input class="form-control my-3" type="text" placeholder="Default input" aria-label="default input example">
        </form>
    </div>
    <div class="col-lg-4 task_bar"></div>
   </div>
   </div>
   
    </section>
