.offer_letter_page {
  width: 100%;
  height: 100vh;

}

.task_bar {

  display: flex;
  width: 120px;
  height: 100vh;
  position: fixed;

}


.custom-border:focus,

.custom-border:active {
  border: 1px solid white;
  outline: none;
  opacity: 0.5;
}


@media (min-width: 600px) {
  .custom-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    width: 100%;
  }
}




@media (min-width: 1335px) and (max-width: 1600px) {
  .custom-container {
    width: 93%;
  }
}


@media (min-width: 1000px) and (max-width: 1335px) {
  .custom-container {
    width: 94.4%;
  }
}

@media (min-width: 1601px) {
  .custom-container {
    width: 94.4%;
  }
}






.tranpert {
  background-color: rgba(0, 0, 0, 0.85);
}


.sidebar-container {
  position: relative;
  width: fit-content;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidercontain {
  height: fit-content;

  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  position: absolute;
  /* ensures it overlays */
  top: 50px;
  /* adjust based on your layout */
  left: 100%;
  /* to appear to the right of sidebar */
  background-color: #1f1f1f;
  /* or your sidebar background */
  padding: 10px;
  z-index: 1000;

}

.textcoluersidebar {
  width: 220px;
  border-radius: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  outline: none !important;
  box-shadow: none !important;
}

.textcoluersidebar:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);

}


.textcoluersidebar:active {
  border: 2px solid rgba(255, 255, 255, 0.5);
}