<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <form action="" (ngSubmit)="passwordchange()">
            <div class="py-2  ">
                <input class="form-control form-control-sm" [(ngModel)]="old_password" type="text" name="old_password"
                    placeholder="Old password">
            </div>
            <div class="py-2">
                <input class="form-control form-control-sm" [(ngModel)]="new_password" type="text" name="new_password"
                    type="text" placeholder="password">
            </div>
            <div class="py-2">
                <input class="form-control form-control-sm" [(ngModel)]="retype_password" type="text"
                    name="retype_password" type="password" placeholder="Re-type Password">
            </div>
            <div class="mt-4">
                <button type="submit" class="mb-0 me-2 fs-5" title="Submit"
                    style="background: none; border: none; cursor: pointer;">
                    <i class="fa-regular fa-floppy-disk " style="opacity: 1;"></i>
                </button>

                <button type="reset" class="fs-5" title="Reset"
                    style="background: none; border: none; cursor: pointer;">
                    <i class="fa-solid fa-rotate-right" style="opacity: 1;"></i>
                </button>
            </div>
        </form>
    </div>
</div>