<div class="container" style="border: 2px solid red;">
    <div class="row d-flex align-items-center justify-content-center">
        <form action="">
            <div class="py-2  ">
                <input class="form-control form-control-sm" type="text" placeholder="Old password">
            </div>
            <div class="py-2">
                <input class="form-control form-control-sm" type="text" placeholder="password">
            </div>
            <div class="py-2">
                <input class="form-control form-control-sm" type="password" placeholder="Re-type Password">
            </div>
            <div class="py-2 d-flex justify-content-end">
                <button class="btn btn-primary ms-auto " style="width:20vh ;" type="submit">submit</button>
            </div>

        </form>
    </div>
</div>