<div class="d-flex flex-column" style="height: 97vh; overflow: hidden;">

    <div class="container-fluid bg-black d-flex align-items-center sadowbox2"
        style="height: 40px; background-color: rgb(24, 23, 23);">
        <h5 class="text-white m-0 px-3">Daily activity</h5>
    </div>


    <div class="flex-grow-1 overflow-auto p-3">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Pending Task</b></div>
            <div class="card-body">
                <h6 class="card-title" style="display: flex; justify-content: space-between;">
                    <span>Total Tasks :</span>
                    <span title={{lengthdata}}>{{lengthdata}}</span>
                </h6>

            </div>
        </div>
    </div>


    <div class="container-fluid d-flex align-items-center sadowbox"
        style="height: 40px; background-color: white; border-top: 1px solid #ccc;">
        <div class="row w-100">
            <div class="col text-center">
                <small></small>
            </div>
        </div>
    </div>
</div>