<section class="offer_letter_page" style="background-color: whitesmoke;">
    <div class="fluid-container task_bar d-flex d-md-block justify-content-center align-items-center text-center">
        <div class="row">
            <div class="col-lg-2 task_bar d-flex d-md-block justify-content-center align-items-center text-center"
                style="background-color: black; position: fixed; height: 100vh; flex-direction: column; justify-content: space-between;">
                <div class="d-flex d-md-block justify-content-center align-items-center text-center">
                    <img [src]="profileimage" class="rounded-circle my-4"
                        style="width: 80px; height: 80px; margin-left: 15px; object-fit: cover;" alt="Profile Image" />

                </div>

                <div class="">

                    <i class="fa-solid fa-user my-3 custom-border ms-2" id="dropdownMenuButton1"
                        style="width: 2.5rem; color: white; font-size: large;" data-bs-toggle="dropdown"
                        aria-expanded="false"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" (click)="openModal()" style="font-size: 14px;">Change Password</a>
                        </li>
                        <li><a class="dropdown-item" (click)="signOut()"><b>Logout</b> <br>
                                <p class="" style="font-size: 12px;"> {{userName}}</p>
                            </a></li>
                    </ul>


                    <i class="fa-solid fa-bell my-3 custom-border ms-1"
                        style="width: 2.5rem; color: white; font-size: large; cursor: pointer;"
                        (click)="toggleNotification()"></i>

                    <div *ngIf="showNotification" class="toast show notificatoncontainer"
                        style="margin-left: 110px; border: 2px solid #aaa; background-color: #fff; position: absolute; top: 5px; min-width: 350px; min-height: 99vh;">
                        <div class="toast-header" style="background-color: black;">
                            <strong class="me-auto text-white">Notification</strong>
                            <small class="text-white">Just now</small>

                            <i class="fa-solid fa-xmark text-white ms-3 fs-6" aria-label="Close"
                                (click)="toggleNotification()"></i>
                        </div>
                        <div class="toast-body">
                            <app-notification></app-notification>
                        </div>
                    </div>

                    <button type="button" class="btn text-white my-2 custom-border" routerLink="dashboard"
                        style="width: 6.5rem;"><i class="fa-solid fa-gauge-high fa-lg mb-2"
                            style="color: white; "></i><br>Dashboard</button>

                    <button type="button" class="btn text-white my-2 custom-border" routerLink="dayliteamwork"
                        style="width: 6.5rem;"><i class="fa-solid fa-list-check fa-lg mb-2"
                            style="color: white; "></i><br>Daily Task</button>

                    <div class="sidebar-container" (mouseenter)="isSidebarOpen = true"
                        (mouseleave)="isSidebarOpen = false" style="width: 6.5rem;">
                        <div class="sidebar">
                            <button type="button" class="btn text-white my-2 custom-border"
                                routerLink="appointmentletter">
                                <i class="fa-solid fa-laptop-file fa-lg mb-2"></i>
                                Reports
                            </button>


                            @if(isSidebarOpen){
                            <div class="sidercontain">
                                <button type="button" class="btn text-white textcoluersidebar" routerLink="task_report">
                                    <i class="fa-solid fa-file-signature fa-lg "></i>
                                    Task Report
                                </button>
                            </div>
                            }
                        </div>
                    </div>

                    <!--<button type="button" class="btn text-white my-2 custom-border" routerLink="incrementletter"
                        style="width: 6.5rem;"><i class="fa-solid fa-file-invoice fa-lg mb-2"
                            style="color: white; "></i>Inc_letter</button>-->

                </div>

                <div class="bottom-item" style="position: absolute; bottom: 10px; width: 100%; padding-right: 12px;">
                    <button type="button" class="btn text-white my-2 custom-border" (click)="toggleNotification2()"
                        style="text-align: center; width: 6rem;">
                        <i class="fa-solid fa-headset fa-lg mb-1" style="color: white;"></i><br>Support
                    </button>
                </div>
                <div *ngIf="showsupport" class="toast show notificatoncontainer"
                    style="margin-left: 110px; border: 2px solid #aaa; background-color: #fff; position: absolute; top: 5px; min-width: 450px; min-height: 99vh;">
                    <div class="toast-header" style="background-color: black;">
                        <strong class="me-auto text-white">Support</strong>


                        <i class="fa-solid fa-xmark text-white ms-3 fs-6" aria-label="Close"
                            (click)="closeNotification2()"></i>
                    </div>
                    <div class="toast-body">

                        <div class="container-fluid">

                            <div class="row " style="border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);">
                                <div class="d-flex justify-content-start mt-4"
                                    style="border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);">
                                    <h6><i class="fa-solid fa-phone-volume"></i> contact: +91-8805973292</h6>
                                </div>
                                <div class="d-flex justify-content-start mt-4"
                                    style="border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);">
                                    <h6><i class="fa-brands fa-whatsapp"></i> WhatsApp: +91-8805973292</h6>
                                </div>
                                <div class="d-flex justify-content-start mt-4">
                                    <h6><i class="fa-solid fa-envelope"></i> Mail: <a
                                            [href]="emailLink">saurabh&#64;gmail.com</a>
                                    </h6>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class=" custom-container "
        style=" margin-left: 107px;  width: calc(100% - 107px); border: 10px solid #C0C0C0; height:100%; overflow-y: auto;">
        <div class="py-0 px-0 ">
            <router-outlet></router-outlet>
        </div>
    </div>

</section>

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-changepassword></app-changepassword>
            </div>
        </div>
    </div>
</div>